@{
    ViewData["Title"] = "Home Page";
}

<div>

<div class="row mb-3" data-bind="visible: isNew() || !isEdit() ">
    <div class="col-md-12 float-right-btn">
            <button type="button" class="btn btn-primary"  data-bind="click: $root.onClickNew" > Add New </button> 
    </div>
</div>

 <div class="content" data-bind="visible: isNew() || isEdit()">
      <form id="formaircraft" name="formaircraft" data-bind="submit: onSubmit">
        <div class="row mt-2">
            <div class="col-md-6">
                  <div class="form-group mt-2">
                    <label for="Make"> Make <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control input-small-4" id="Make" data-bind="textInput: Make" placeholder="Enter the Make">
    @*                <div class="error pt-1" data-bind="validationMessage: Make">
                    </div>*@
                </div>
            </div>

              <div class="col-md-6">
                  <div class="form-group mt-2">
                    <label for="Model"> Model <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control input-small-4" id="Model" data-bind="value: Model" placeholder="Enter the Model">
                </div>

            </div>

              <div class="col-md-6">
                  <div class="form-group mt-2">
                    <label for="Registration"> Registration <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control input-small-4" id="Registration" data-bind="value: Registration" placeholder="Enter the Registration">
                </div>
               </div>

                <div class="col-md-6">
                      <div class="form-group mt-2">
                        <label for="Location"> Location <span class="text-danger">*</span> </label>
                        <input type="text" class="form-control input-small-4" id="Location" data-bind="value: Location" placeholder="Enter the Location">
                    </div>
                </div>

            
                <div class="col-md-6">
                      <div class="form-group mt-2">
                        <label for="AircraftSeen"> AircraftSeen <span class="text-danger">*</span> </label>
                        <input id="datetimepicker1" type="text" class="form-control" 
                        data-bind="datepicker: AircraftSeen" />

                      
                       @* <input class="form-control"
                                    #datepickerYMD="bsDatepicker"
                                    bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [maxDate]="maxDate" [minDate]="minDate"  data-bind='datepicker: AircraftSeen'>
                  *@      @*<input type="text" class="form-control input-small-4" id="AircraftSeen" data-bind="value: AircraftSeen" placeholder="Enter the Date Time">*@
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mt-2">
                        <img class="image-data mb-2" data-bind="attr: {src: ImageUrl() || 'images/placeholder.png'}"/>
                        <br />
                        <input data-bind="event: {change: fileUpload}" type="file" accept="image/*" class="fileChooser"/>
                    </div>

                </div>

                <div class="col-md-12 mt-3 mb-3 float-right-btn">
                    <button type="button" class="btn btn-secondary me-2" data-bind="click: $root.onCancelScreen"> Cancel </button> 
                    <button type="button" class="btn btn-info me-2" data-bind="click: $root.onReset"> Reset </button> 
                    <button type="submit" class="btn btn-primary" data-bind="disable:disableSubmitButton, text:isEdit() ? 'Update': 'Save'"> </button> 
                </div>

        </div>
    </form>
 </div>

   

 <div class="row mt-3" data-bind="visible: Aircrafts().length > 0">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Make</th>
            <th scope="col">Modal</th>
            <th scope="col">Registration</th>
            <th scope="col">Location</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Image</th>
            <th scope="col" style="width: 120px;">Action</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: Aircrafts">
          <tr data-bind="css: {'table-active' : $index() === $root.selectedIndex()}" >
            <td><span data-bind="text: make" /></td>
            <td><span data-bind="text: model" /></td>
            <td><span data-bind="text: registration" /></td>
            <td><span data-bind="text: location" /></td>
            <td><span data-bind="text: moment(new Date(aircraftSeen())).format('DD/MM/YYYY HH:mm')" /></td>
            <td>
             <img class="w-100" data-bind="attr: {src: imageUrl || 'images/placeholder.png'}"/>
            </td>
            <td>
              <button type="button" class="btn btn-primary me-2" data-bind="click: $root.onEditAircraft.bind($data, $data, $index())"><i class="bi bi-pencil"></i></button>
              <button type="button" id="btndelete" class="btn btn-danger" data-bind="click: $root.onDeleteRow.bind($data, $data, $index())"><i class="bi bi-trash3"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
</div>
</div>
